<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start" defaultHref="/home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calcular o valor de um projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="frmCalcProj">
    <ion-list>
      <ion-item class="info">Quanto você ganhar por hora?</ion-item>
      <ion-item>
        <ion-label fixed>Seu valor/hora:</ion-label>
        <ion-input type="number" [(ngModel)]="valorProjeto.valorHora" formControlName="valorHora"></ion-input>
      </ion-item>
      
      <ion-item class="info">Quantas horas irá trabalhar no projeto por dia?</ion-item>
      <ion-item>
        <ion-label fixed>Horas por dia:</ion-label>
        <ion-input type="number" [(ngModel)]="valorProjeto.horasPorDia" formControlName="horasPorDia"></ion-input>
      </ion-item>
      
      <ion-item class="info">Quantos dias irá durar o projeto?</ion-item>
      <ion-item>
        <ion-label fixed>Dias:</ion-label>
        <ion-input type="number" [(ngModel)]="valorProjeto.semanas" formControlName="semanas"></ion-input>
      </ion-item>
      
    </ion-list>
  </form>
  <div padding>
    <table>
      <tr>
        <td>
          <ion-button color="secondary" (click)="onSubmit()" expand="block" [disabled]="frmCalcProj.invalid"> calcular
          </ion-button>
        </td>
        <td>
          <ion-button color="danger" (click)="resetForm()" expand="block" [disabled]="frmCalcProj.invalid"> Limpar </ion-button>
        </td>
      </tr>
    </table>
  </div>
  <ion-card *ngIf="result">
    <ion-card-header>Valor total do projeto</ion-card-header>
    <ion-card-content>
      {{ media }}
    </ion-card-content>
  </ion-card>
</ion-content>